<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-md-offset-3'>
      <div class="header text-center">
        <h1>
          ToDo List application
        </h1>
        <small>
          Just for you :)
        </small>
      </div>
      <div class='task-container'>

        <div class='form-group'>
          <label>Your task :</label>
          <input type='text' class='content-field form-control' name='task-content' placeholder="Your new task .o." data-url="<%= tasks_path %>"/>
        </div>

        <div class='option-container'>
          <h4>
            Filter
          </h4>
          <ul class='list-inline'>
            <li>
              <%= link_to 'All', all_tasks_path, method: 'GET', class: 'task-all-btn', remote: true %>
            </li>
            <li>
              <%= link_to 'In progress', inprogress_tasks_path, method: 'GET', class: 'task-inprogress-btn', remote: true %>
            </li>
            <li>
              <%= link_to 'Completed', completed_tasks_path, method: 'GET', class: 'task-completed-btn', remote: true %>
            </li>
            <li>
              <%= link_to 'Clear all', clear_all_tasks_path, method: :delete, class: 'clear-all-btn', data: { confirm: 'Are you sure?', remote: true } %>
            </li>
          </ul>
        </div>

        <div class='task-list'>
          <% @tasks.each do |task| %>
            <% if task.status == 1 %>
              <div id='task-<%= task.id %>' class='bs-callout bs-callout-info'>
            <% else %>
              <div id='task-<%= task.id %>' class='bs-callout bs-callout-success'>
            <% end %>
              <h4>
                Task :
              </h4>
              <p>
                <%= task.content %>
              </p>
              <div class='suppress-icon'>
                <%= link_to task, method: :delete, class: 'suppress-btn', data: { confirm: 'Are you sure?', remote: true } do %>
                  <i class="fa fa-times"></i>
                <% end %>
              </div>
              <div class='status-icon'>
                <%= link_to task_switch_status_path(task), method: 'PUT', class: 'status-btn', remote: true do %>
                  <% if task.status == 0 %>
                    <i class="fa fa-2x fa-thumbs-o-up checked"></i>
                  <% else %>
                    <i class="fa fa-2x fa-thumbs-o-up"></i>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
